body{
    padding:0;
    margin:0;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ccc;
}
#page{
    height: 100%;
    
}
div#header{
    background-color:rgb(237, 231, 47); 
    height: 100px;
    
}

main{
 min-height:600px;
}

input{
    margin-top:50px;
    width: 60%;
    height:40px;

}
button{
    margin-left:10px;
    width: 80px;
    height:40px;
    padding:5px;
    font-size: 1em;
    border:none;
    background-color: #000;
    color:aliceblue;
    border-radius: 5px;

}

button:hover{
    background-color: rgb(237, 231, 47);
    color:#000
   
    
}

h1{
    padding:20px;
}


footer{
    padding:30px;
    font-size: 1.2em;
    background-color: rgb(237, 231, 47);
    height:200px;
}
